<div style="margin-top: 1px; width: 70%">
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" >
    <mdb-carousel-item>
      <img class="d-block w-100" src="http://www.sigaretnet.by/images/Akcii-readmore.jpg">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg">
    </mdb-carousel-item>
  </mdb-carousel>
</div>