<div class="row">
    <div class="col-sm-3" style="margin:0; padding:0;height:100%;">
        <table class="table table-bordered table-hover" style="margin:0; padding:0;">
            <tbody>
            <tr *ngFor="let category of categories" style="" >
                <td style="font-size: 20px;padding:10px;" >{{category.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
<div class="col-sm-9" style="margin:0; padding:0;">
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" >
    <mdb-carousel-item>
        <div style="height:590px;width: 100%; overflow:hidden;margin:0;">
      <img style="width: 100%; display:block;" src="http://gomelsale.by/salebook/euroopt/0605_evroopt_03.jpg">
    </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
            <div style="height:590px;width: 100%; overflow:hidden;margin:0;">
      <img style="width: 100%; display:block;" src="http://gomelsale.by/salebook/gippo/1605_gippo_01.jpg">
    </div>

    </mdb-carousel-item>
    <mdb-carousel-item>
            <div style="height:590px;width:100%; overflow:hidden;margin:0;">
      <img style="width: 100%; display:block;" src="http://gomelsale.by/salebook/5element/3004_5element_01.jpg">
    </div>

    </mdb-carousel-item>
  </mdb-carousel>
</div>
</div>
