<div *ngIf="cart" style="margin:50px 0;font-family: 'Courier New', Courier, monospace; width: 100%;" >
<div *ngFor="let franchise_item of cart">
<table class="table table-hover">
  <thead>
    <tr>
      <td><h4>{{franchise_item.franchise_name}}</h4></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let cart_item of franchise_item.cart_items">
          <td (click)="getProduct(cart_item.product.id)"><img class="img-fluid" style="width: 130px;" src={{pathToImage}}{{cart_item.product.image}}/></td>
          <td (click)="getProduct(cart_item.product.id)" style="padding: 43px 0;font-size: 18px">{{ cart_item.product.name}}</td>
          <td style="padding: 43px 20px;font-size: 18px" >BYN {{ cart_item.product.price}}</td>
          <td style="font-size: 18px; padding: 40px 25px;"><a (click)="delItem(cart_item)" style="border-radius: 1rem; background-color: teal;padding: 1px 5px 0 5px; color: white; font-size: 15px;" type="button">-</a>
          {{ cart_item.count }} <a (click)="addItem(cart_item)" style="border-radius: 1rem; background-color: teal; padding: 2px 6px 0 5px; color: white; font-size: 15px;" type="button">+</a></td>
          <td style="padding: 38px 0;"><a (click)="deleteCartItem(cart_item.id)" ><mdb-icon size="lg" style="margin-top: 3px; font-size:25px; color: rgb(231, 33, 33);" fas icon="window-close"></mdb-icon></a></td>
      </tr>
  </tbody>
</table>
<div style="width: 100%; display: flex; justify-content: flex-end; align-items: center; margin-bottom: 50px;"><div style="font-size: 25px; font-weight: bold; margin: 0 20px;">Итого: BYN {{total(franchise_item.cart_items).toFixed(2)}}</div><a (click)="createOrder(franchise_item)" class="btn" style="font-weight: bold;font-size:25px; color:white; border-radius: 0.5rem; background-color: rgb(248, 41, 41);">ЗАКАЗАТЬ</a></div>
</div>
</div>
<div *ngIf="cart == null" style="margin:50px;font-family: 'Courier New', Courier, monospace"><h3>Cart is empty.</h3></div>
