<table class="table table-hover" style="font-family: 'Courier New', Courier, monospace" >
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let product of products">
        <td  [routerLink]="[product.id]"><img class="img-fluid" style="width: 130px; cursor: pointer;" src={{pathToImage}}{{product.image}}/></td>
        <td  [routerLink]="[product.id]" style="padding-top:50px; cursor: pointer;">{{product.name}}</td>
        <td style="padding-top:50px;">BYN {{product.price}}</td>
        <td style="padding-top:50px;"><button class="btn btn-danger" (click)="addToCart(product)">Add to Cart</button></td>
      </tr>
  </tbody>
</table>
