
  <div *ngIf="user" class="form-group" style="width:65%; font-family: 'Courier New', Courier, monospace;">
    <div class="text-center">
      <h1 class="h3 font-weight-normal" style="margin: 30px;">Profile</h1>
    </div>
  
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">First Name</label>
      <div class="col-sm-9">
      <input [(ngModel)]="user.first_name" class="form-control" placeholder="First Name" required="" autofocus="">
    </div>
  </div>
  
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Last Name</label>
      <div class="col-sm-9">
        <input [(ngModel)]="user.last_name" class="form-control" placeholder="Last Name" required="" autofocus="">
    </div>
  </div>
  
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">City</label>
      <div class="col-sm-9">
        <input [(ngModel)]="user.city" class="form-control" placeholder="City" required="" autofocus="">
    </div>
  </div>
  
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Address</label>
      <div class="col-sm-9">
        <input [(ngModel)]="user.address" class="form-control" placeholder="Address" required="" autofocus="">
    </div>
  </div>
  
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Phone Number</label>
      <div class="col-sm-9">
        <input [(ngModel)]="user.phone_number" class="form-control" placeholder="Phone Number" required="" autofocus="">
    </div>
  </div>
  
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Mail</label>
      <div class="col-sm-9">
        <input [(ngModel)]="user.mail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    </div>
  </div>
  
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Login</label>
      <div class="col-sm-9">
        <input [(ngModel)]="user.login" class="form-control" placeholder="Login" required="" autofocus="">
    </div>
  </div>
  
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-9">
        <input [(ngModel)]="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div>
  </div>
  
    <button (click)="updateUser()" class="btn btn-lg btn-primary btn-block" style="margin: 40px 35%; width: 30%; font-family: 'Courier New', Courier, monospace; background-color: black; border-color: black;" type="submit">Update</button>
</div>
  
